# docker-compose.yml
services:
  db:
    image: postgres:13-alpine
    container_name: postgres
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      # Оптимизация производительности
      - POSTGRES_SHARED_BUFFERS=256MB
      - POSTGRES_EFFECTIVE_CACHE_SIZE=1GB
      - POSTGRES_WORK_MEM=16MB
      - POSTGRES_MAINTENANCE_WORK_MEM=64MB
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: always

  app:
    build: .
    image: pichost
    container_name: app
    environment:
      - DOMAIN=${DOMAIN}
      - SESSION_TIMEOUT=${SESSION_TIMEOUT}
      - FLASK_SECRET_KEY=${FLASK_SECRET_KEY}
      # Передаем базовые переменные для построения строки подключения
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=${POSTGRES_HOST} # <-- Добавлено
      - POSTGRES_PORT=${POSTGRES_PORT} # <-- Добавлено
      # OAuth Configuration
      - OAUTH_CLIENT_ID=${OAUTH_CLIENT_ID}
      - OAUTH_CLIENT_SECRET=${OAUTH_CLIENT_SECRET}
      - OAUTH_METADATA_URL=${KEYCLOAK_BASE_URL}/realms/${KEYCLOAK_REALM}/.well-known/openid-configuration
      - OAUTH_SCOPE=${OAUTH_SCOPE}
      # Fallback OAuth URLs
      - OAUTH_BASE_URL=${KEYCLOAK_BASE_URL}/realms/${KEYCLOAK_REALM}/protocol/openid-connect
      - OAUTH_AUTHORIZE_URL=${KEYCLOAK_BASE_URL}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/auth
      - OAUTH_ACCESS_TOKEN_URL=${KEYCLOAK_BASE_URL}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/token
      - OAUTH_LOGOUT_URL=${KEYCLOAK_BASE_URL}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/logout
    volumes:
      - ./images:/app/images
      - ./thumbnails:/app/thumbnails
      - ./source/templates:/app/templates
      - ./source/static:/app/static
    restart: always
    depends_on:
      - db


  web:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      # Монтируем статику напрямую из исходной папки
      - ./source/static:/app/static:ro
      - ./source/templates:/app/templates:ro
      - ./images:/app/images:rw
      - ./thumbnails:/app/thumbnails:rw
      - ./logs:/var/log/nginx
    restart: always
    depends_on:
      - app

volumes:
  thumbnails:


